.flex {
    display: flex;
}

.flex > * {
    border: 1px solid  red !important;
    flex-grow: 1; /* cuanto crece */
    flex-shrink: ; /* cuanto se achica*/
    flex-basis: 100px; /* tamaño por defecto, por defecto es auto hay que añadir un tamaño mínimo. */
    padding: 0 !important;
}

.flex > p {
    border: 1px solid green !important;
    flex-basis: 50px;
}

.flex > img {
    inline-size: 400px;
    flex-shrink: 0; /* Establezco en 0 para que por defecto (1) no se achique y tome el width de 400px */
}